body {
	background-color: #333;
	font: 11pt Helvetica, Arial, sans-serif;
}

section {
	margin: 40px auto;
	text-align: center;
	width: 640px;
}

section #credits {
	color: #555;
	text-align: left;
	font-size: 9pt;
}

a {
	color: rgb(178, 84, 67);
	text-decoration: none;
}

#fullscreenahead {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

#fullscreenahead:before {
	color: rgb(178, 84, 67);
	content: "fs";
	font-size:10pt;
	margin-left: 11px;
	line-height: 32px;

}

section canvas:full-screen,
section canvas:-moz-full-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
section canvas:-webkit-full-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}